# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")


# Display sample data
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
0,0,Saldanha,-33.0117,17.9442,71.65,clear sky,69,0,21.14,ZA
1,1,Chuy,-33.6971,-53.4616,58.26,broken clouds,47,61,19.04,UY
2,2,Esperance,-33.8667,121.9000,58.32,overcast clouds,79,100,23.35,AU
3,3,Alofi,-19.0595,-169.9187,75.09,scattered clouds,94,40,4.61,NU
4,4,Cape Town,-33.9258,18.4232,71.28,clear sky,49,0,21.85,ZA
...,...,...,...,...,...,...,...,...,...,...
678,678,Sungairaya,0.7000,108.9000,77.76,overcast clouds,89,100,2.08,ID
679,679,Feni,23.0186,91.4100,74.44,few clouds,91,20,5.30,BD
680,680,Prince Rupert,54.3161,-130.3201,38.89,light rain,91,100,24.16,CA
681,681,Oktyabrskiy,54.4815,53.4710,32.22,broken clouds,80,82,3.11,RU
682,682,Rawlins,41.7911,-107.2387,44.35,clear sky,42,0,21.85,US

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [5]:
# Prompt the user to enter the minimum temperature criteria
min_temp =float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [6]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
0,0,Saldanha,-33.0117,17.9442,71.65,clear sky,69,0,21.14,ZA
3,3,Alofi,-19.0595,-169.9187,75.09,scattered clouds,94,40,4.61,NU
4,4,Cape Town,-33.9258,18.4232,71.28,clear sky,49,0,21.85,ZA
10,10,Rikitea,-23.1203,-134.9692,69.60,overcast clouds,79,100,8.59,PF
15,15,Luganville,-15.5333,167.1667,77.23,clear sky,85,8,1.74,VU
16,16,Hilo,19.7297,-155.0900,72.25,broken clouds,86,75,8.05,US
19,19,Puerto Ayora,-0.7393,-90.3518,73.36,overcast clouds,91,91,8.01,EC
22,22,Jamestown,42.0970,-79.2353,60.03,overcast clouds,90,100,9.22,US
24,24,Atuona,-9.8000,-139.0333,76.42,few clouds,77,14,15.35,PF
27,27,Hermanus,-34.4187,19.2345,63.81,clear sky,62,0,23.31,ZA

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [7]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
0,0,Saldanha,-33.0117,17.9442,71.65,clear sky,69,0,21.14,ZA
3,3,Alofi,-19.0595,-169.9187,75.09,scattered clouds,94,40,4.61,NU
4,4,Cape Town,-33.9258,18.4232,71.28,clear sky,49,0,21.85,ZA
10,10,Rikitea,-23.1203,-134.9692,69.60,overcast clouds,79,100,8.59,PF
15,15,Luganville,-15.5333,167.1667,77.23,clear sky,85,8,1.74,VU
16,16,Hilo,19.7297,-155.0900,72.25,broken clouds,86,75,8.05,US
19,19,Puerto Ayora,-0.7393,-90.3518,73.36,overcast clouds,91,91,8.01,EC
22,22,Jamestown,42.0970,-79.2353,60.03,overcast clouds,90,100,9.22,US
24,24,Atuona,-9.8000,-139.0333,76.42,few clouds,77,14,15.35,PF
27,27,Hermanus,-34.4187,19.2345,63.81,clear sky,62,0,23.31,ZA

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [8]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df =  clean_travel_cities[["City", "Country", "Max Temp", "Lat", "Lng", "Current Description"]].copy()


# Display sample data
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Current Description
0       Saldanha      ZA     71.65 -33.0117   17.9442           clear sky
3          Alofi      NU     75.09 -19.0595 -169.9187    scattered clouds
4      Cape Town      ZA     71.28 -33.9258   18.4232           clear sky
10       Rikitea      PF     69.60 -23.1203 -134.9692     overcast clouds
15    Luganville      VU     77.23 -15.5333  167.1667           clear sky
16          Hilo      US     72.25  19.7297 -155.0900       broken clouds
19  Puerto Ayora      EC     73.36  -0.7393  -90.3518     overcast clouds
22     Jamestown      US     60.03  42.0970  -79.2353     overcast clouds
24        Atuona      PF     76.42  -9.8000 -139.0333          few clouds
27      Hermanus      ZA     63.81 -34.4187   19.2345           clear sky

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [9]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,Saldanha,ZA,71.65,-33.0117,17.9442,clear sky,
3,Alofi,NU,75.09,-19.0595,-169.9187,scattered clouds,
4,Cape Town,ZA,71.28,-33.9258,18.4232,clear sky,
10,Rikitea,PF,69.60,-23.1203,-134.9692,overcast clouds,
15,Luganville,VU,77.23,-15.5333,167.1667,clear sky,
16,Hilo,US,72.25,19.7297,-155.0900,broken clouds,
19,Puerto Ayora,EC,73.36,-0.7393,-90.3518,overcast clouds,
22,Jamestown,US,60.03,42.0970,-79.2353,overcast clouds,
24,Atuona,PF,76.42,-9.8000,-139.0333,few clouds,
27,Hermanus,ZA,63.81,-34.4187,19.2345,clear sky,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [10]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [11]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,Saldanha,ZA,71.65,-33.0117,17.9442,clear sky,Blue Bay Lodge
3,Alofi,NU,75.09,-19.0595,-169.9187,scattered clouds,Taloa Heights
4,Cape Town,ZA,71.28,-33.9258,18.4232,clear sky,"Radisson Blu Hotel Waterfront, Cape Town"
10,Rikitea,PF,69.60,-23.1203,-134.9692,overcast clouds,People ThankYou
15,Luganville,VU,77.23,-15.5333,167.1667,clear sky,The Espiritu Hotel
16,Hilo,US,72.25,19.7297,-155.0900,broken clouds,Hilo Hawaiian Hotel
19,Puerto Ayora,EC,73.36,-0.7393,-90.3518,overcast clouds,Finch Bay Galapagos Hotel
22,Jamestown,US,60.03,42.0970,-79.2353,overcast clouds,Hampton Inn & Suites Jamestown
24,Atuona,PF,76.42,-9.8000,-139.0333,few clouds,Villa Enata
27,Hermanus,ZA,63.81,-34.4187,19.2345,clear sky,Misty Waves Boutique Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [13]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset=['Hotel Name'])
# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,Saldanha,ZA,71.65,-33.0117,17.9442,clear sky,Blue Bay Lodge
3,Alofi,NU,75.09,-19.0595,-169.9187,scattered clouds,Taloa Heights
4,Cape Town,ZA,71.28,-33.9258,18.4232,clear sky,"Radisson Blu Hotel Waterfront, Cape Town"
10,Rikitea,PF,69.60,-23.1203,-134.9692,overcast clouds,People ThankYou
15,Luganville,VU,77.23,-15.5333,167.1667,clear sky,The Espiritu Hotel
16,Hilo,US,72.25,19.7297,-155.0900,broken clouds,Hilo Hawaiian Hotel
19,Puerto Ayora,EC,73.36,-0.7393,-90.3518,overcast clouds,Finch Bay Galapagos Hotel
22,Jamestown,US,60.03,42.0970,-79.2353,overcast clouds,Hampton Inn & Suites Jamestown
24,Atuona,PF,76.42,-9.8000,-139.0333,few clouds,Villa Enata
27,Hermanus,ZA,63.81,-34.4187,19.2345,clear sky,Misty Waves Boutique Hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [14]:
clean_hotel_df

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,Saldanha,ZA,71.65,-33.0117,17.9442,clear sky,Blue Bay Lodge
3,Alofi,NU,75.09,-19.0595,-169.9187,scattered clouds,Taloa Heights
4,Cape Town,ZA,71.28,-33.9258,18.4232,clear sky,"Radisson Blu Hotel Waterfront, Cape Town"
10,Rikitea,PF,69.60,-23.1203,-134.9692,overcast clouds,People ThankYou
15,Luganville,VU,77.23,-15.5333,167.1667,clear sky,The Espiritu Hotel
...,...,...,...,...,...,...,...
672,Santa Lucia,ES,69.76,27.9117,-15.5407,few clouds,Las Tirajanas
673,Kitui,KE,71.51,-1.3670,38.0106,broken clouds,Heritage Bliss Hotel
676,Miraflores,MX,70.97,19.2167,-98.8083,light rain,Hotel MansiÃ³n
678,Sungairaya,ID,77.76,0.7000,108.9000,overcast clouds,Rumah Kuku Moimoi Shelly
679,Feni,BD,74.44,23.0186,91.4100,few clouds,"Best Inn Hotel, Restaurant, Convention"

In [25]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [15]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [16]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [17]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Blue Bay Lodge</dd>\n<dt>City</dt><dd>Saldanha</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 71.65 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Taloa Heights</dd>\n<dt>City</dt><dd>Alofi</dd>\n<dt>Country</dt><dd>NU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 75.09 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Radisson Blu Hotel Waterfront, Cape Town</dd>\n<dt>City</dt><dd>Cape Town</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 71.28 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 69.6 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Espiritu Hotel</dd>\n<dt>City</dt><dd>Luganville</dd>\n<dt>Country</dt><dd>VU</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.23 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>broken clouds and 72.25 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.36 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hampton Inn & Suites Jamestown</dd>\n<dt>City</dt><dd>Jamestown</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 60.03 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>few clouds and 76.42 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Misty Waves Boutique Hotel</dd>\n<dt>City</dt><dd>Hermanus</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 63.81 Â°F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [18]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -33.0117   17.9442
3  -19.0595 -169.9187
4  -33.9258   18.4232
10 -23.1203 -134.9692
15 -15.5333  167.1667
16  19.7297 -155.0900
19  -0.7393  -90.3518
22  42.0970  -79.2353
24  -9.8000 -139.0333
27 -34.4187   19.2345

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [19]:
# Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))